<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)">
                <NotAuthorized>
                    <p>You are not authorized to view this page. <a href="/login">Login</a></p>
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Reset Your Future - Home Page</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p role="alert">Get ready to Reset Your Future self</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
