@page "/disabled"

<PageTitle>@ErrorMessagesRes.AccountDisabled</PageTitle>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2 class="text-danger mb-4">@ErrorMessagesRes.AccountDisabled</h2>
            <p class="lead">
                @ErrorMessagesRes.AccountDisabledMessage
            </p>
            <p>
                @ErrorMessagesRes.AccountDisabledContact
            </p>
            <a href="/login" class="btn btn-primary mt-3">@ErrorMessagesRes.BackToLogin</a>
        </div>
    </div>
</div>
